* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}




.dog-card {
    width: 250px;
    height: 400px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 25px darkblue;
    color: darkslategrey;
    background-color: lightgrey;

}

.dog-pic {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

card-description {
    text-align: center;
}

